<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>.dt{
        background-color: bisque;
        border-style: solid;
        border-color: aquamarine;
        border-radius: 15px;
    }</style>
    <title>Document</title>
    
</head>
<body>
    <div class="dt">
        <h2>均值</h2>
        <h3>{{n}}</h3>
        {%for dat in s %}
        <br>
        
        {%endfor%} 
    </div> 
    
{%for dat in s %}
<body>
    <div class="dt">
        <h2>数据</h2>
        <h3>{{dat['dat']}}</h3>
    </div> 
{%endfor%}  
</body>
</html>
